In [1]:
###Packages

import pandas as pd

In [5]:
###Import files

mls=pd.read_csv("MLS_score_lookup_table.csv")
apg=pd.read_csv("APOGEE_MITimpact_table_APOGEE2_Score_only.csv")

In [8]:
mls.head()

   Position Reference Mutation         Consequence  Pathogenicity_Score
0         1         G        T  intergenic_variant              0.65755
1         1         G        A  intergenic_variant              0.65755
2         1         G        C  intergenic_variant              0.65755
3         2         A        T  intergenic_variant              0.64832
4         2         A        C  intergenic_variant              0.64832

In [9]:
apg.head()

,Unnamed: 0,Chr,Position,Reference,Mutation,Gene_symbol,Pathogenicity_Score,APOGEE2_probability
0,0,chrM,3307,A,G,MT-ND1,0.317619,0.174811
1,1,chrM,3307,A,T,MT-ND1,0.314750,0.170058
2,2,chrM,3307,A,C,MT-ND1,0.314735,0.170032
3,3,chrM,3308,T,C,MT-ND1,0.327858,0.192367
4,4,chrM,3308,T,A,MT-ND1,0.424883,0.394639

In [12]:
###Subset MLS table to positions only found in APOGEE

mls=mls[mls['Position'].isin(apg['Position'])]

mls.head()

      Position Reference Mutation Consequence  Pathogenicity_Score
9915      3307         A        T  start_lost                  0.7
9916      3307         A        C  start_lost                  0.7
9917      3307         A        G  start_lost                  0.7
9918      3308         T        C  start_lost                  0.7
9919      3308         T        A  start_lost                  0.7

In [14]:
len(mls) #mls has exactly 9103 * 3 variants, apg likely does not have every mutation per position

27309

In [15]:
len(apg)

24190

In [17]:
len(mls['Position'].unique())

9103

In [18]:
len(apg['Position'].unique())

9103

In [23]:
apg['Reference'].value_counts()

Reference
C    7062
T    6917
A    6865
G    3346
Name: count, dtype: int64

In [24]:
mls['Reference'].value_counts()

Reference
C    8373
A    7653
T    7596
G    3687
Name: count, dtype: int64

In [25]:
###Save MLS lookup table

mls.to_csv('MLS_score_lookup_table_subset.csv')